.container{
    padding: 10rem 0 0 0;
    /* background-color: red */
}
.wrapper{
    display: flex;
    justify-content: center;
    position: relative;
}
.imgContainer{
    background-image: url('../assets/eventCard.png');
    height: 900px;
    width: 100%;
}

.img{
    width: 80%;
    height: 70vh;
}

.contextContainer{
    position: absolute;
    top: 8%;
    left: 35%;
    width: 50%;
    line-height: 2em;
}

.details{
    display: flex;
    justify-content: space-between;
}