

.container {
  min-height: 85vh;
  padding-top: 10rem;
  width: 80%;
  margin: auto;
}
.title {
  margin: 2%;
  color: #4d291a;
  font-size: 50px;
}

.about {
  & h3 {
    text-align: justify;
    font-weight: 1;
    /* letter-spacing: 0.2rem; */
    word-spacing: 0.4rem;
    margin: 2%;
    color: #4d291a;
  }
}
.aboutSvce {
  text-align: justify;

  margin-top: 3rem;
  /* text-align: end; */
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  /* flex-direction: row; */
  /* background-color: red; */
}

.wrapper {
  flex-direction: column;
  flex: 1;
  & h3 {
    font-weight: 1;
    word-spacing: 0.4rem;
    margin-bottom: 2%;
    color: #4d291a;
  }
}

.img {
  width: 30%;
  /* height: 200px; */
  margin: 0 0% 0 2%;
  margin-top: 3%;
}


@media screen and (max-width: 480px) {
  .aboutSvce {
    margin-top: 3rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* background-color: red; */
    position: relative;
    & img {
      height: 170px;
      position: relative;
      right: -5%;
      /* justify-self: end; */
      width: 75%;
      margin: 1rem 2rem 15% 2%;
    }
  }
}

@media screen and (min-width: 480px) and (max-width: 1000px) {
  .aboutSvce {
    margin-top: 3rem;

    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    /* background-color: red; */
    position: relative;
    & img {
      position: relative;
      right: -3%;
      /* justify-self: end; */
      width: 40vw;
      margin-bottom: 15%;
    }
  }
}