.event {
  position: relative;
  padding: 7rem 0 0 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.blurBackground {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: inherit;
  z-index: 0;
  filter: blur(15px);
}

.whiteHeader {
  color: white;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 50px;
  position: relative;
  z-index: 999;
}

.heading {
  /* color: #4d291a; */
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
  font-size: 50px;
  z-index: 999;
}

.departmentGrid {
  margin: 0 2rem 0rem 2rem;
  padding-bottom: 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* background-color: red; */
  max-width: 80%;
  margin: auto auto;
  gap: 80px;
}

@media screen and (max-width: 565px) {
  .departmentGrid {
    gap: 30px;
    max-width: 100%;
  }
}
