.event {
  padding: 7rem 0 0 0;
}

.heading {
  color: #4d291a;
  font-weight: normal;
  align-items: center;
  text-align: center;
  margin-bottom: 3rem;
}

.departmentGrid {
  margin: 0 2rem 0rem 2rem;
  padding-bottom: 3rem;
  /* display: grid; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* grid-template-columns: repeat(auto-fit, minmax(210px, 1fr)); */
  max-width: 830px; /* Maximum width for three elements */
  margin: auto auto;
  gap: 100px;
}

@media screen and (width < 565px) {
  .departmentGrid {
    gap: 30px;
  }
}
