.container{
    /* background-color: red; */
    /* padding: 7rem 0 0 7rem; */
    height: 80vh;
    width: 80%;
    margin: auto;
    /* position: relative; */
}

.wrapper{
    padding: 7rem 0 0 0;
    position: absolute;
    width: 80%;
}

.img{
    height: 80vh;
    position: relative;
    width: 100%;
    margin: auto;
}

.contextContainer{
    position: absolute;
    top:25%;
    left: 30%;
    line-height: 2rem;
    width: 60%;
}

.details{
    display: flex;
    /* background-color: red; */
    justify-content: space-around;
}