.container{
    height: 70%;
    width: 80%;
    margin: 20vh 10vw 5vh 10vw;
    position: absolute;
    /* background-color: red; */

    & a{
        color: white;
        font-size: 20px;
    }
}

.list{
    display: flex;
    margin: 2% 0 2% 10%;
    /* margin-left: 4%; */
    flex-wrap: wrap;
}
.cardContainer:nth-child(even){
    margin-left: 50px;
}
.cardContainer{
    position: relative;
}
.img{
    position: relative;
    /* border: 1px solid red; */
    width: 620px;
    height: 290px;
    user-select: none;
}

.title{
    position: absolute;
    top: 15%;
    left: 32%;
    background-color: red;
}

.know{
    position: absolute;
    right: -1%;
    bottom: 46%;
    z-index: 999;
    transform: rotate(270deg);
}
