.body {
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes slideFromLeft {
    0% {
      opacity: 0%;
      left: -10rem;
    }
    100% {
      opacity: 100%;
      left: 0rem;
    }
  }
  
  .container {
    position: relative;
    left: 0rem;
    animation: slideFromLeft 0.8s ease-in-out;
    padding: 7rem 8rem 2rem 8rem;

    & h1 {
        text-align: center;
    }
}

.img {
    position: relative;
    width: 30vw;
    height: 30vh;
    border-radius: 44px;
    background-color: #0a121a67;
    border: 2px solid #503938;
    /* user-select: none; */
}

.img:hover{
    border: 2px solid #5d90db;
}

.detail {
    width: 100%;
    column-gap: 100px;
    row-gap: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.detailContainer {
    position: relative;
    max-width: 550px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.detailContainer:hover {
    transform: scale(1.1);
}

.title {
    position: absolute;
    top: 10%;
    left: 12%;
}