.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.content {
  text-align: center;
  color: #4d291a;
}

.content > h1 {
  font-weight: 400;
  letter-spacing: 15px;
  font-size: 5vw;
}

.content > p {
  letter-spacing: 15px;
  font-family: "DM Sans", sans-serif;
}

.festxsvce {
  position: fixed;
  bottom: 0px;
  font-size: 5vw;
  -webkit-text-stroke: 1px #8d633a;
  color: transparent;
}

.festxsvce > p {
  font-weight: bolder;
  letter-spacing: 5px;
  text-wrap: nowrap;
  font-family: "DM Sans", sans-serif;
}
