.location {
  min-height: 85vh;
  padding-top: 10rem;
  margin: auto;
}

.heading {
  color: #4d291a;
  padding-bottom: 3rem;
}

.flexContainer {
  margin: 0 2rem 0 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.map {
  border-radius: 25px;
  border: #4d291a 3px solid;
  width: 600px;
  height: 450px;
}

.locationDetails {
  margin: 0 0rem 0 4rem;
  color: #4d291a;
}

.locationDetails > p {
  padding: 1rem 0 1rem 0;
  font-family: "DM Sans";
  font-size: large;
}

.routeButton {
  padding: 10px 20px 10px 20px;
  border: none;
  border-radius: 10px;
  background-color: #4d291a;
  color: white;
}

@media screen and (width < 800px) {
  .flexContainer{
    display: block;
    margin-bottom: 4rem;
  }
  .locationDetails{
    margin: 3rem 1rem 0 1rem;
  }
  .map{
    width: 80vw;
  }
}