.space {
  padding-top: 7rem;
}

.container {
  font-family: "Space Grotesk", sans-serif;
  width: 100%;
  margin: auto;
  min-height: 80vh;
}

.title {
  user-select: none;
  text-align: center;
}

.workContainer {
  border: 1px solid #503938;
  width: 70%;
  padding: 2rem;
  margin: 1% auto;
  min-height: 80%;
  background-color: rgba(50, 44, 44, 0.258);
  backdrop-filter: blur(10px);
  border-radius: 44px;
}

.details {
  display: flex;
  justify-content: space-evenly;
}

.button {
  text-align: center;
  text-decoration: none;
  padding: 1.4% 4%;
  font-size: 1rem;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: #fff;
  border: none;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

@media screen and (width < 930px) {
  .details {
    display: block;
  }
}
