.container {
  padding-top: 7rem;
  font-family: "Space Grotesk", sans-serif;
  width: 100%;
  margin: auto;
  min-height: 80vh;
  cursor: default;
  & h1 {
    text-align: center;
  }
}

.workContainer {
  border: 1px solid #503938;
  width: 80%;
  margin: 1% auto;
  padding: 5rem;
  min-height: 80%;
  background-color: rgba(50, 44, 44, 0.258);
  backdrop-filter: blur(10px);
  border-radius: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 5vw;
}
