.container {
  padding-top: 7rem;
  font-family: "Space Grotesk", sans-serif;
  width: 100%;
  margin: auto;
  height: 80vh;
  & h1 {
    text-align: center;
  }
}

.workContainer {
  border: 1px solid #503938;
  width: 80%;
  margin: 1% auto;
  min-height: 80%;
  background-color: rgba(50, 44, 44, 0.258);
  backdrop-filter: blur(10px);
  border-radius: 44px;
  display: grid;
  place-content: center;
}
