.body{
    padding: 7rem 2rem 0 2rem;
    & h1{
        text-align: center;
    }
    min-height: 100vh;
}
.comingSoon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: auto;
    min-height: 70vh;
    text-align: center;
    border: 1px solid #4d291a;
    border-radius: 30px;
    color: white;
    background-color: #4d291aaa;
    margin-top: 1rem;
    transition: all 0.2s ease-in-out;
    &:hover{
        transform: scale(1.1);
    }
}