.space {
  padding-top: 7rem;
}

.container {
  font-family: "Space Grotesk", sans-serif;
  width: 100%;
  margin: auto;
  height: 80vh;
}

.title {
  user-select: none;
  text-align: center;
}

.workContainer {
  border: 1px solid #503938;
  width: 80%;
  margin: 1% auto;
  min-height: 80%;
  background-color: rgba(50, 44, 44, 0.258);
  backdrop-filter: blur(10px);
  border-radius: 44px;
  display: grid;
  place-content: center;
}

.button {
  text-decoration: none;
  display: inline-block;
  padding: 12px 24px;
  border: none;
  background-color: transparent;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  cursor: pointer;
  color: white;
  z-index: 1;
}
