.festxsvce {
  position: fixed;
  bottom: 0px;
  font-size: 5vw;
  -webkit-text-stroke: 1px #775532;
  color: transparent;
  z-index: -1;
}

.festxsvce > p {
  font-weight: bolder;
  letter-spacing: 5px;
  text-align: center;
  text-wrap: nowrap;
  font-family: "DM Sans", sans-serif;
}

.festxsvce > p:nth-child(1) {
  position: fixed;
  bottom: 5vw;
  right: 0%;
}

@media screen and (width < 600px) {
  .festxsvce {
    font-size: 10vw;
  }
  .festxsvce > p {
    letter-spacing: 0px;
  }
  .festxsvce > p:nth-child(1) {
    bottom: 10vw;
  }
}
