.footer {
  background-image: url("../../assets/images/footer.webp");
  background-size: contain;
  background-position: center;
  min-height: 30vh;
  color: white;
  padding: 5rem;
  display: flex;
  justify-content: space-evenly;
}

.footer > * {
  letter-spacing: 1px;
  line-height: 1.4rem;
}

.svceContainer > h2 {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.footerLogo {
  width: 2rem;
  height: 2rem;
  margin-right: 1.5rem;
}

.img {
  width: 500px;
}

.menuContactsDiv {
  display: flex;
  justify-content: space-between;
  column-gap: 5rem;
}

.addressPara {
  width: 20rem;
}

.contactLogo {
  margin-right: 1rem;
}

@media screen and (width < 1200px) {
  .footer {
    display: block;
  }
  .menuContactsDiv {
    margin-top: 3rem;
    justify-content: space-evenly;
  }
}

@media screen and (width < 700px) {
  .footer {
    padding: 2rem;
  }
  .img {
    width: 200px;
  }
  .svceContainer > h2 {
    font-size: medium;
  }
  .footerLogo{
    height: 1.4rem;
    width: 1.4rem;
  }
  .addressPara {
    width: 12rem;
  }
  .menuContactsDiv {
    gap: 1rem;
    /* font-size: small; */
  }
}
