.scroller {
  margin-top: 2rem;
  height: 3.3rem;
  position: relative;
  width: 1.7rem;
  border: #4d291a 2px solid;
  border-radius: 100px;
  display: flex;
  /* align-items: center; */
  justify-content: center;
}

.circle {
  margin: 3px;
  position: absolute;
  width: 1.4rem;
  height: 1.4rem;
  background-color: #4d291a;
  border-radius: 15px;
  animation-name: scroll;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier(.55,0,.55,1);
  animation-direction: alternate-reverse;
  animation-iteration-count: infinite;
}

@keyframes scroll {
  0% {
    top: 2.5%;
  }
  100% {
    top: 45%;
  }
}
